<h1>Editing receden drug</h1>

<%= render "form", receden_drug: @receden_drug %>

<br>

<div>
  <%= link_to "Show this receden drug", @receden_drug %> |
  <%= link_to "Back to receden drugs", receden_drugs_path %>
</div>
