<h1>Editing receden medication</h1>

<%= render "form", receden_medication: @receden_medication %>

<br>

<div>
  <%= link_to "Show this receden medication", @receden_medication %> |
  <%= link_to "Back to receden medications", receden_medications_path %>
</div>
