<h1>Editing receden disease</h1>

<%= render "form", receden_disease: @receden_disease %>

<br>

<div>
  <%= link_to "Show this receden disease", @receden_disease %> |
  <%= link_to "Back to receden diseases", receden_diseases_path %>
</div>
